@model IPagedList<Domain.Entity.Company>
@{
    ViewData["Title"] = "Empresas";
}

<div class="text-center">
    <h1 class="display-4">Empresas</h1>
</div>
<div class="card-deck">
    @foreach (var company in @Model)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@company.Name</h5>
                    <a asp-action="Company" asp-route-companyNamespace="@company.Namespace" class="btn btn-primary">Visualizar</a>
                </div>
            </div>
        </div>
    }
</div>