@model IPagedList<Domain.Entity.Company>
@{
    ViewData["Title"] = "Empresas";
}

@section Styles
{
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/style2.css">
    </environment>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/style2.min.css">
    </environment>
}

<!-- INICIO Banner-->
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/img02.png');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <p class="mb-4 text-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">HOME > EMPRESAS</p>
                <h1 class="mb-4 text-center" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Empresas</h1>
            </div>
        </div>
    </div>
</section>
<!-- FINAL Banner-->

<!-- INICO Job-->
<section class="ftco-section">
    <div class="container">


        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="">
                    What is Lorem Ipsum?
                </h2>
                <span class="elementposition">
                    <img src="images/seta.png">
                </span>
            </div>
        </div>


        <div class="row">
            @foreach (var company in @Model)
            {
                <div class="col-md-4 elemente">
                    <p class="elementex">
                        <img class="text-center rounded" style="max-width: 250px" src="@company.ProfilePicture"><br>
                        <a class="elemenb" asp-action="Company" asp-route-companyNamespace="@company.Namespace">@company.Name</a><br>
                        <span>
                            <i class="fas fa-map-marker"></i> Fortaleza - CE<br>
                            <i class="fas fa-clock"></i> segunda, 23/05
                        </span>
                    </p>
                </div>
            }
        </div>
        <br>

        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <span>1</span>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- FINAL Job-->