@model List<Domain.Entity.JobOpportunity>
@{
    ViewData["Title"] = "Home Page";
}

<div class="card-deck">
    @foreach (var job in @Model)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@job.Title</h5>
                    <p class="card-text">@job.Excerpt</p>
                    <a href="e/@job.Company.Namespace/v/@job.Uri" class="btn btn-primary">Visualizar</a>
                </div>
                <div class="card-footer">
                    <a href="e/@job.Company.Namespace">
                        <small class="text-muted float-left">@job.Company.Name</small>
                    </a>
                    <small class="text-muted float-right">@job.CreatedDate</small>
                </div>
            </div>
        </div>
    }
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Proximo</a>
        </li>
    </ul>
</nav>