@using System.Text.RegularExpressions
@model Domain.Entity.JobOpportunity
@{
    ViewData["Title"] = Model.Title;
    var companyDescription = Regex.Replace(Model.Company.Description ?? string.Empty, "<.*?>", string.Empty);
}

@section Styles
{
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/style2.css">
    </environment>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/style2.min.css">
    </environment>
}

<!-- INICIO Banner -->
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/images/img03.png');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row  no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="spacemov col-md-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-4 empfont" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">@Model.Title</h1>
            </div>
            <div class="col-md-2 ftco-animate">
                <p>
                    Salário:<br>
                    <span class="padclass">R$ 2.178,96</span>
                </p>
            </div>
            <div class="col-md-10 ftco-animate">
                <p>
                    Nível:<br>
                    <span class="padclass">Supervisão/Coordenação</span>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- FINAL Banner -->

<!-- INICIO Info -->
<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br><br>
                <p class="fontpixel">Descrição e Responsabilidades<br></p>
                @Html.Raw(Model.Description)
            </div>
            <div class="col-md-6">
                <div class="search-wrap-1 ftco-animate p-4 mov">
                    <form action="#" class="search-property-1">
                        <div class="row">
                            <div class="col-lg align-self-end">
                                <div class="form-group">
                                    <img class="movimg" src="~/images/loogo01.png"><br>
                                    <div class="form-field text-center">
                                        <p class="movspace">@companyDescription.Substring(0, companyDescription.Length > 137 ? 137 : companyDescription.Length)</p>
                                        <div class="movspace form-field">
                                            <a asp-action="Company" asp-route-companyNamespace="@Model.Company.Namespace" class="buttonem">Conhecer Empresa</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FINAL Info -->

<!-- INICIO JOBS -->
<section class="ftco-section">
    <div class="container">


        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h2 class="">
                    What is Lorem Ipsum?
                </h2>
                <span class="elementposition">
                    <img src="~/images/seta.png">
                </span>
            </div>
        </div>


        <div class="row">

            <div class="col-md-3 elemente">
                <p class="elementex">
                    <img class="text-center production" src="images/emp01.png"><br>
                    <a class="elemenb" href="">Unilever LTDM</a><br>
                    <span>
                        <i class="fas fa-map-marker"></i> Fortaleza - CE<br>
                        <i class="fas fa-clock"></i> segunda, 23/05
                    </span>
                </p>
            </div>

            <div class="col-md-3 elemente">
                <p class="elementex">
                    <img class="text-center production" src="images/emp01.png"><br>
                    <a class="elemenb" href="">Unilever LTDM</a><br>
                    <span>
                        <i class="fas fa-map-marker"></i> Fortaleza - CE<br>
                        <i class="fas fa-clock"></i> segunda, 23/05
                    </span>
                </p>
            </div>

            <div class="col-md-3 elemente">
                <p class="elementex">
                    <img class="text-center production" src="images/emp01.png"><br>
                    <a class="elemenb" href="">Unilever LTDM</a><br>
                    <span>
                        <i class="fas fa-map-marker"></i> Fortaleza - CE<br>
                        <i class="fas fa-clock"></i> segunda, 23/05
                    </span>
                </p>
            </div>

            <div class="col-md-3 elemente">
                <p class="elementex">
                    <img class="text-center production" src="images/emp01.png"><br>
                    <a class="elemenb" href="">Unilever LTDM</a><br>
                    <span>
                        <i class="fas fa-map-marker"></i> Fortaleza - CE<br>
                        <i class="fas fa-clock"></i> segunda, 23/05
                    </span>
                </p>
            </div>
        </div>
        <br>
    </div>
</section>
<!-- FINAL JOBS -->