@using WebApplication.Extensions
@model CompanyViewModel

@{
    Layout = "_Layout";
}

@section Styles
{
    <link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cadastrar uma oportunidade</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <form id="newCompanyForm" role="form" method="post">
        <!-- Default box -->
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Título*</label>
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Professor de defesa contra as artes das trevas" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <textarea class="form-control" id="Description" asp-for="Description" ></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a asp-area="Partners" asp-action="Index" class="btn btn-outline-primary">
                            Voltar
                        </a>
                        <button type="submit" class="btn btn-primary" form="newCompanyForm">
                            Cadastrar
                        </button>
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Empresa*</label>
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Omni Customer Products" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Disponibilidade</label>
                                    <input type="text" class="form-control" asp-for="Name" placeholder="Omni Customer Products" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- text input -->
                                <div class="form-group">
                                    <label>Resumo</label>
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- /.content -->


@section Scripts
{
    <script src="~/plugins/jquery.inputmask.min.js"></script>
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>

    <script >
        $(document).ready(function(){
            $(":input").inputmask();
            $('#Description').summernote({
                height: 350,
                callbacks: {
                    onImageUpload: function(files, editor, welEditable){
                        sendFile(files[0], this);
                    }
                }
            });
            
            function sendFile(file, el) {
                data = new FormData();
                data.append("file", file);
                $.ajax({
                    data: data,
                    type: "POST",
                    url: "/parceiros/empresas/upload",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(url) {
                        $(el).summernote('editor.insertImage', url);
                    }
                });
            }
        });
    </script>
}