@model JobOpportunityComponentModel

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.JobOpportunity.Title</h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Visualizar</a>
        </div>
        <div class="card-footer">
            <a href="/@Model.Company.Uri">
                <small class="text-muted float-left">@Model.Company.Name</small>
            </a>
            <small class="text-muted float-right">Last updated 3 mins ago</small>
        </div>
    </div>
</div>