@model CreateAccountViewModel
@{
    Layout = "_LoginLayout";
}

<div class="register-box">
    <div class="login-logo">
        <a href="/">
            <img src="~/images/logo_300.png" alt="traba.io"/>
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Criar uma nova conta</p>

            <form method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="FirstName" placeholder="Nome">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="LastName" placeholder="Sobrenome">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirme sua senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                Eu aceito os <a href="#">termos de uso</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <feature name="LoginWithGoogle" requirement="Any">
                <div class="social-auth-links text-center mb-3">
                    <p>- OU -</p>
                    <feature name="LoginWithGoogle">
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google mr-2"></i> Entrar usando o Google
                        </a>
                    </feature>
                    <feature name="LoginWithLinkedIn">
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google mr-2"></i> Entrar usando o Google
                        </a>
                    </feature>
                </div>
                <!-- /.social-auth-links -->
            </feature>

            <a asp-controller="Account" asp-action="Login">Já tenho uma conta e quero fazer login</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>