@model LoginViewModel
@{
    Layout = "_LoginLayout";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/">
            <img src="~/images/logo_300.png" alt="traba.io"/>
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Entre para iniciar a sessão</p>

            <form method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Email" asp-for="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email"></span>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Password"></span>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="remember" asp-for="RememberMe">
                            <label for="remember">
                                Lembrar-me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <feature name="LoginWithGoogle, LoginWithLinkedIn" requirement="Any">
                <div class="social-auth-links text-center mb-3">
                    <p>- OU -</p>
                    <feature name="LoginWithGoogle">
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google mr-2"></i> Entrar usando o Google
                        </a>
                    </feature>
                    <feature name="LoginWithLinkedIn">
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google mr-2"></i> Entrar usando o Google
                        </a>
                    </feature>
                </div>
                <!-- /.social-auth-links -->
            </feature>

            <p class="mb-1">
                <a asp-controller="Account" asp-action="ForgotPassword">Eu esqueci minha senha</a>
            </p>
            <p class="mb-0">
                <a asp-controller="Account" asp-action="CreateAccount">Sou novo e quero me registrar</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>