@model RecoveryPasswordViewModel
@{
    Layout = "_LoginLayout";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/">
            <img src="~/images/logo_300.png" alt="traba.io"/>
        </a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Você está a um passo de recuperar o acesso a sua senha :D</p>

            <form method="post">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" asp-for="Password" placeholder="Senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirmar senha">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Confirmar senhas</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a asp-controller="Account" asp-action="Login">Lembrei minha senha e quero fazer login</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>